**/*.vscode 
**/*build
**/*dist
**/*egg-info
**/*__pycache__
**/reports/*
**/*test*
**/*package_root
bullish/data/*
server/data/secrets.py
server/data/subscribers.json
server/data/todays_entries.pkl

